<body>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1></h1>
    <span class="menu-spacer"></span>
    <div>

      <button mat-button [routerLink]="'/idees'" routerLinkActive="active"> Idées</button>
      <button mat-button [routerLink]="'/projets'" routerLinkActive="active"> Appel à projet</button>
      <button mat-button [routerLink]="'/stories'" routerLinkActive="active"> Success Stories</button>
      <button mat-button [matMenuTriggerFor]="menuEvenements">Événements</button>
      <mat-menu #menuEvenements="matMenu">
        <button mat-menu-item [routerLink]="'/evenements'"> Événements</button>
        <button mat-menu-item [routerLink]="'/evenementCreation'">Créer un événement</button>
      </mat-menu>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button  [matMenuTriggerFor]="menuProfile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuProfile="matMenu">
      <button mat-menu-item [routerLink]="'/profile'" routerLinkActive="active"> Profil </button>
      <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Déconnexion </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<br>

</body>
